body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2c2c;
}

#header{
    background-color: #1f1e1e;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
}

#logo {
    vertical-align: middle;
}

.header-link {
    color: #cec0c0;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    display: inline-block;
}

.header-link-at {
    color: #f5f5f5;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    display: inline-block;
}

#main-space {
    display: flex;
}

#main-space-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#content {
    padding: 20px;
    color: white;
    flex: 1;
}

#sobre-tab {
    width: 585px;
}

#menu {
    background-color: #3a3a3a;
    padding: 20px;
    width: 200px;
}

.img {
    margin-left: 15px;
}

.link-externo {
    font-style: italic;
    font-weight: bold;
    color: white;
}

.menu-item {
    display: block;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;}

.section {
    margin-bottom: 30px;
}

#tab-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#footer {
    background-color: #1f1e1e;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    height: 30px;
}